body{
color:white
}
body{
background: -webkit-gradient(linear, left top, right top, from(#4c5e91), to(#000000));

}




h1{text-align:center;}
div{
  margin-left: inherit;
  width: 500px ;
  border: 80px  ;
  padding: 50px;
  margin: 10px;
  display: flex;justify-content: space-around;
  margin: 1 auto;
  width: 50% auto;
  display: inline-flex;
}
h1{
  font-family: cursive ;
  font-size: 52px
}


}
h3{
text-align: center;

}
h2{
  text-decoration: underline;
  text-decoration-color:#0d0210

}
h2{
text-decoration-style: solid;
text-align: center;

}
#site{
width:=51%; margin-left: 15%


}
